 body{background-color: gray;}
.hn1{color: red;}
.div1{ background-color:whitesmoke;margin-left: 100px; width: 600px;height: 200px}
.img1{height: 200px;}
.hn2{margin-left: 350px;margin-top: -185px}
.hn3{margin-left: 349px;;}
.a1{color: blueviolet;text-decoration: none;margin-left: 300px;}
.div4{background-color: aliceblue;width: 600px;height:200px ;margin-left: 800px ;margin-top: -200px;}
.img3{width: 100px;margin-top: -5px;}
.img2{width:280px ;height: 200px;;}
.a2{ color: brown; text-decoration: none;   margin-left: 300px;}
.div3{background-color: aliceblue;width: 600px;height: 200px;margin-top: 50px;}
.img4{width: 280px;height: 200px;}
.a3{color: darkgreen;text-decoration: none;margin-left: 300px;}
.div2{background-color: aliceblue;width: 600px;height: 200px;margin-left: -700px;margin-top: -200px;}
.img9{width: 280px;height: 200px;  }
.a9{color: goldenrod; text-decoration: none;margin-left: 300px;}